#intro {
  background: #000 url("../img/geometric.jpg") top center no-repeat;
  color: white;
}

#intro h3 {
  text-align: center;
}

#score, #comp-score, #player-score {
  text-align: center;
  display: block;
}

#roll-btn {
  margin-right: 10px;
  background-color: #17587E;
  color: white;
}

#hold-btn {
  background-color: #18C981;
  color: white;
}

#winner {
  background-color: #18C981;
  color: white;
}

#reload-win {
  background-color: #17587E;
  color: white;
}

#loser {
  background-color: #17587E;
  color: white;
}

#reload-lose {
  background-color: #18C981;
  color: white;
}

//#comp-score {
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.row {
  min-height: 150px;
}

.text-head {
  display: block;
  text-align: center;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #000, 0 0 20px #FFB6C1, 0 0 30px #FFB6C1, 0 0 40px #FFB6C1;
  }
  to {
    text-shadow: 0 0 20px #000, 0 0 30px #FFB6C1, 0 0 40px #FFB6C1;
  }
}
