#intro {
  background: #000 url("../img/geometric.jpg") top center no-repeat;
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
}

#intro h3 {
  text-align: center;
}

#score, #comp-score, #player-score {
  text-align: center;
  display: block;
}

#roll-btn {
  margin-right: 10px;
  background-color: #17587E;
  color: white;
}

#hold-btn {
  background-color: #18C981;
  color: white;
}

#winner {
  background-color: #18C981;
  color: white;
}

#reload-win {
  background-color: #17587E;
  color: white;
}

#loser {
  background-color: #17587E;
  color: white;
}

#reload-lose {
  background-color: #18C981;
  color: white;
}

#temporary {
  height: 100px !important;
  line-height: 3px;
}

.row {
  height: 120px;
}

.text-head {
  display: block;
  text-align: center;
}

body {
  background-color: #ECFFFF;
}
